@media (orientation:landscape) and (min-width:1301px) and (max-width:1900px){
    body{
        background-color: rgb(216, 216, 220);
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; 
        min-height: 100vh;
    }
    header{
            position: relative;
            height: 108px;
            background: #00C6C2;
            border: 3px solid #158582;    
    }
     .logo img{
        box-sizing: border-box;
        position: absolute;
        width: 118px;
        height: auto;
        left: 5%;
        top: 38px;
        background: url(image.png);
        border: 3px solid #158582;
        filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        border-radius: 50%;
    }
    nav.tab {
        position: absolute; 
        bottom: 0px; 
        right: 20px; 
      }
  
    .tab ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }    
    .tab ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        background-color: #00C6C2;
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        border-radius:4px ;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .tab ul li a.active {
        background: #000; 
        color: #fff; 
      }
    .tab ul li a:hover {
        background: #158582; 
        transform: scale(1.05); 
      }
      main {
        margin-top: 3%;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        justify-content: space-between;
        min-height: calc(100vh - 108px); 
        font-family: 'inter',sans-serif;
    }
    section { 
       padding: 0;
     }
     section h1, section h2 {
       font-family: sans-serif;
       color: #324B4A;
       font-size: 24px;
       text-align: left;
       margin-left: 4%;
       margin-bottom: 3%;
     }
     .education-img {
       width: 70px;
       min-height: 70px;
       border: 2px solid #324B4A;
       object-fit: cover;
       display: block;
       margin-right: 0;
       margin-left: 4%;
    }
    .education-text {
       border: #324B4A solid 2px;
       background-color: #158582;
       color: #fff;
       font-size: 18px;
       text-align: left;
       flex-grow: 1; 
       margin: 0;
       padding: 10px;
       box-sizing: border-box;
    
    }
    .education-dop{
    display: flex;
    align-items: stretch;
    max-width: 95%;
    padding: 0;
    }
    .ordered-now {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 5%;
    }
    
    .ordered-now .todler {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 4%;
width: 100%;
      display: flex;
      align-items: center; 
      margin-bottom: 20px; 
    }
    
    .ordered-now .todler img {
      width: 100px;
      height: 100px;
      border: 3px solid #324B4A;
      border-radius: 50%; 
      margin-right: 15px; 
    }
    
    .ordered-now .todler h2 {
      font-size: 18px;
      color: #324B4A;
      margin: 0; 
    }
      .lefter > h2 {
      margin-left: 4%; 
      margin-bottom: 10px; 
      color: #324B4A; 
      font-size: 24px; 
      font-weight: bold; 
      font-family: sans-serif;
    }
    section ol {
       display: grid;
       grid-template-columns: repeat(2, 1fr); 
       width: 100%;
       margin: 0 auto; 
       gap: 20px; 
       list-style: none; 
       padding: 0; 
    }
    
    section li {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 3%;
       display: flex;
       flex-direction: column; 
       align-items: center; 
       margin-bottom: 6%;
       margin-top: 10%;
       margin-right: 10%;
       text-align: left;
    }
    
    .workplace-img {
       width: 100px;
       height: 100px;
       border: 3px solid #324B4A;
       object-fit: cover;
       border-radius: 50%;
       margin-bottom: 10px; 
    }
    
    .workplace-text {
       font-size: 14px;
       line-height: 1.4;
       color: black;
       font-weight: bold;
       text-align: center;
    }
    .righter h2{
        margin-bottom: 2%;
    }
    .container {
        display: flex;
        gap: 2%;      
      }
      
      .lefter {
        flex: 0 0 55%;
      }
      
      .righter {
        flex: 0 0 43%;
      }
}
@media (orientation: landscape) and (min-width:800px) and (max-width:1300px){
    body{ 
        background-color: rgb(216, 216, 220);
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; 
        min-height: 100vh;
      }
      header{
        position: relative;
        height: 108px;
        background: #00C6C2;
        border: 3px solid #324B4A;    
      }
      .logo img{
        display: none;
      }
      nav.tab {
        position: absolute; 
        bottom: 0px; 
        right: 20px; 
      }
      
      .tab ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }    
      .tab ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        background-color: #00C6C2;
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        border-radius:4px ;
        transition: background-color 0.3s ease, transform 0.3s ease;
      }
      .tab ul li a.active {
        background: #000; 
        color: #fff; 
      }
      .tab ul li a:hover {
        background: #158582; 
        transform: scale(1.05); 
      }
      main {
        margin-top: 3%;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        justify-content: space-between;
        min-height: calc(100vh - 108px); 
        font-family: 'inter',sans-serif;
    }
    section { 
       padding: 0;
     }
     section h1, section h2 {
       font-family: sans-serif;
       color: #324B4A;
       font-size: 24px;
       text-align: left;
       margin-left: 4%;
       margin-bottom: 3%;
     }
     .education-img {
       width: 70px;
       min-height: 70px;
       border: 2px solid #324B4A;
       object-fit: cover;
       display: block;
       margin-right: 0;
       margin-left: 4%;
    }
    .education-text {
       border: #324B4A solid 2px;
       background-color: #158582;
       color: #fff;
       font-size: 18px;
       text-align: left;
       flex-grow: 1; 
       margin: 0;
       padding: 10px;
       box-sizing: border-box;
    
    }
    .education-dop{
    display: flex;
    align-items: stretch;
    max-width: 95%;
    padding: 0;
    }
    .ordered-now {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 5%;
    }
    
    .ordered-now .todler {
      display: flex;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 4%;
      width: 100%;
      align-items: center; 
      margin-bottom: 20px; 
    }
    
    .ordered-now .todler img {
      width: 100px;
      height: 100px;
      border: 3px solid #324B4A;
      border-radius: 50%; 
      margin-right: 15px; 
    }
    
    .ordered-now .todler h2 {
      font-size: 18px;
      color: #324B4A;
      margin: 0; 
    }
  
    .lefter > h2 {
        margin-left: 4%; 
        margin-bottom: 10px; 
        color: #324B4A; 
        font-size: 24px; 
        font-weight: bold; 
        font-family: sans-serif;
      }
 
    section ol {
       display: grid;
       grid-template-columns: repeat(2, 1fr); 
       width: 100%;
       margin: 0 auto; 
       gap: 20px; 
       list-style: none; 
       padding: 0; 
    }
    
    section li {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 3%;
       display: flex;
       flex-direction: column; 
       align-items: center; 
       margin-bottom: 6%;
       margin-top: 10%;
       margin-right: 10%;
       text-align: left;
    }
    
    .workplace-img {
       width: 100px;
       height: 100px;
       border: 3px solid #324B4A;
       object-fit: cover;
       border-radius: 50%;
       margin-bottom: 10px; 
    }
    
    .workplace-text {
       font-size: 14px;
       line-height: 1.4;
       color: black;
       font-weight: bold;
       text-align: center;
    }
    .righter h2{
        margin-bottom: 2%;
    }
    .container {
        display: flex;
        gap: 2%;      
      }
      
      .lefter {
        flex: 0 0 55%;
      }
      
      .righter {
        flex: 0 0 43%;
      }

} 
@media (orientation: portrait) and (min-width:680px) and (max-width:1000px){
  body{
     background-color: rgb(216, 216, 220);
     width: 100vw;
     margin: 0;
     padding: 0;
     font-family: 'inter', sans-serif;
 }
 header{
  position: relative;
  height: 60px;
  background: #00C6C2;
  border: 2px solid #324B4A;    
}
.logo img{
  display: none;
}
nav.tab {
  position: absolute; 
  bottom: 0px; 
  right: 10px; 
}

.tab ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}  
.tab ul li a{
 font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background-color: #00C6C2;
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  border-radius:4px ;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.tab ul li a.active {
  background: #000; 
  color: #fff; 
}
.tab ul li a:hover {
  background: #158582; 
  transform: scale(1.05); 
}
section { 
  padding: 0;
}
section h1, section h2 {
  font-family: sans-serif;
  color: #324B4A;
  font-size: 18px;
  text-align: left;
  margin-left: 4%;
  margin-bottom: 1%;
}
.education-img {
  width: 60px;
  min-height: 60px;
  border: 2px solid #324B4A;
  object-fit: cover;
  display: block;
  margin-right: 0;
  margin-left: 4%;
}
.education-text {
  border: #324B4A solid 2px;
  background-color: #158582;
  color: #fff;
  font-size: 12px;
  text-align: left;
  flex-grow: 1; 
  margin: 0;
  padding: 5px;
  box-sizing: border-box;

}
.education-dop{
display: flex;
align-items: stretch;
max-width: 95%;
padding: 0;
}
.ordered-now {
 display: flex;
 flex-wrap: wrap; 
 justify-content: center; 
 gap: 20px; 
}

.ordered-now .todler {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 10%;
 display: flex;
 flex-direction: column; 
 align-items: center; 
 width: 25%; 
 min-height: 10px; 
 box-sizing: border-box; 
}

.ordered-now .todler img {
 width: 70px;
 height: 70px;
 border: 3px solid #324B4A;
 border-radius: 50%;
 margin-bottom: 5%; 
}

.ordered-now .todler h2 {
 font-size: 16px; 
 color: #333; 
 text-align: center;
 margin: 0;
 word-wrap: break-word; 
}

.lefter > h2 {
  margin-left: 4%; 
  margin-bottom: 10px; 
  color: #324B4A; 
  font-size: 18px; 
  font-weight: bold; 
  font-family: sans-serif;
}
section ol { 
  width: 100%;
 margin-left: 5%; 
  gap: 10px; 
  list-style: none; 
  padding: 0; 
}

section li {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  margin-bottom: 6%;
  margin-right: 10%;
  text-align: left;
}

.workplace-img {
  width: 60px;
  height: 60px;
  border: 3px solid #324B4A;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px; 
}

.workplace-text {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-left: 10px;
}
}
@media (orientation: portrait) and (min-width:300px) and (max-width:679px){
  body{
    background-color: rgb(216, 216, 220);
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}
header{
 position: relative;
 height: 60px;
 background: #00C6C2;
 border: 2px solid #324B4A;    
}
.logo img{
 display: none;
}
nav.tab {
 position: absolute; 
 bottom: 0px; 
 right: 10px; 
}

.tab ul{
 display: flex;
 list-style: none;
 margin: 0;
 padding: 0;
}  
.tab ul li a{
font-family: sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 4px 8px;
 background-color: #00C6C2;
 color: black;
 font-size: 12px;
 font-weight: 600;
 text-decoration: none;
 border-radius:4px ;
 transition: background-color 0.3s ease, transform 0.3s ease;
}
.tab ul li a.active {
 background: #000; 
 color: #fff; 
}
.tab ul li a:hover {
 background: #158582; 
 transform: scale(1.05); 
}
section { 
 padding: 0;
}
section h1, section h2 {
 font-family: sans-serif;
 color: #324B4A;
 font-size: 18px;
 text-align: left;
 margin-left: 4%;
 margin-bottom: 1%;
}
.education-img {
 width: 60px;
 min-height: 60px;
 border: 2px solid #324B4A;
 object-fit: cover;
 display: block;
 margin-right: 0;
 margin-left: 4%;
}
.education-text {
 border: #324B4A solid 2px;
 background-color: #158582;
 color: #fff;
 font-size: 12px;
 text-align: left;
 flex-grow: 1; 
 margin: 0;
 padding: 5px;
 box-sizing: border-box;

}
.education-dop{
display: flex;
align-items: stretch;
max-width: 95%;
padding: 0;
}
.ordered-now {
display: flex;
flex-wrap: wrap; 
justify-content: center; 
gap: 20px; 
}

.ordered-now .todler {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 10%;
display: flex;
flex-direction: column; 
align-items: center; 
width: 25%; 
min-height: 10px; 
box-sizing: border-box; 
}

.ordered-now .todler img {
width: 70px;
height: 70px;
border: 3px solid #324B4A;
border-radius: 50%;
margin-bottom: 5%; 
}

.ordered-now .todler h2 {
font-size: 16px; 
color: #333; 
text-align: center;
margin: 0;
word-wrap: break-word; 
}

.lefter > h2 {
 margin-left: 4%; 
 margin-bottom: 10px; 
 color: #324B4A; 
 font-size: 18px; 
 font-weight: bold; 
 font-family: sans-serif;
}
section ol { 
 width: 100%;
margin-left: 5%; 
 gap: 10px; 
 list-style: none; 
 padding: 0; 
}

section li {
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 border-radius: 3%;
 display: flex;
 flex-direction: row; 
 align-items: center; 
 margin-bottom: 6%;
 margin-right: 10%;
 text-align: left;
}

.workplace-img {
 width: 60px;
 height: 60px;
 border: 3px solid #324B4A;
 object-fit: cover;
 border-radius: 50%;
 margin-bottom: 10px; 
}

.workplace-text {
 font-size: 12px;
 line-height: 1.4;
 font-weight: 600;
 color: #333;
 text-align: center;
 margin-left: 10px;
}
}
@media (orientation: landscape) and (min-width: 500px) and (max-width: 799px){
  body{
    background-color: rgb(216, 216, 220);
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}
header{
 position: relative;
 height: 60px;
 background: #00C6C2;
 border: 2px solid #324B4A;    
}
.logo img{
 display: none;
}
nav.tab {
 position: absolute; 
 bottom: 0px; 
 right: 10px; 
}

.tab ul{
 display: flex;
 list-style: none;
 margin: 0;
 padding: 0;
}  
.tab ul li a{
font-family: sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 4px 8px;
 background-color: #00C6C2;
 color: black;
 font-size: 12px;
 font-weight: 600;
 text-decoration: none;
 border-radius:4px ;
 transition: background-color 0.3s ease, transform 0.3s ease;
}
.tab ul li a.active {
 background: #000; 
 color: #fff; 
}
.tab ul li a:hover {
 background: #158582; 
 transform: scale(1.05); 
}
section { 
 padding: 0;
}
section h1, section h2 {
 font-family: sans-serif;
 color: #324B4A;
 font-size: 18px;
 text-align: left;
 margin-left: 4%;
 margin-bottom: 1%;
}
.education-img {
 width: 60px;
 min-height: 60px;
 border: 2px solid #324B4A;
 object-fit: cover;
 display: block;
 margin-right: 0;
 margin-left: 4%;
}
.education-text {
 border: #324B4A solid 2px;
 background-color: #158582;
 color: #fff;
 font-size: 12px;
 text-align: left;
 flex-grow: 1; 
 margin: 0;
 padding: 5px;
 box-sizing: border-box;

}
.education-dop{
display: flex;
align-items: stretch;
max-width: 95%;
padding: 0;
}
.ordered-now {
display: flex;
flex-wrap: wrap; 
justify-content: center; 
gap: 20px; 
}

.ordered-now .todler {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 10%;
display: flex;
flex-direction: column; 
align-items: center; 
width: 25%; 
min-height: 10px; 
box-sizing: border-box; 
}

.ordered-now .todler img {
width: 70px;
height: 70px;
border: 3px solid #324B4A;
border-radius: 50%;
margin-bottom: 5%; 
}

.ordered-now .todler h2 {
font-size: 16px; 
color: #333; 
text-align: center;
margin: 0;
word-wrap: break-word; 
}

.lefter > h2 {
 margin-left: 4%; 
 margin-bottom: 10px; 
 color: #324B4A; 
 font-size: 18px; 
 font-weight: bold; 
 font-family: sans-serif;
}
section ol { 
 width: 100%;
margin-left: 5%; 
 gap: 10px; 
 list-style: none; 
 padding: 0; 
}

section li {
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 border-radius: 3%;
 display: flex;
 flex-direction: row; 
 align-items: center; 
 margin-bottom: 6%;
 margin-right: 10%;
 text-align: left;
}

.workplace-img {
 width: 60px;
 height: 60px;
 border: 3px solid #324B4A;
 object-fit: cover;
 border-radius: 50%;
 margin-bottom: 10px; 
}

.workplace-text {
 font-size: 12px;
 line-height: 1.4;
 font-weight: 600;
 color: #333;
 text-align: center;
 margin-left: 10px;
}
}